<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.loop.resume.dao.ResumeMapper" >
  <resultMap id="BaseResultMap" type="com.loop.resume.pojo.Resume" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="avatar" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="preference" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, user, avatar, preference
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from resume
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="select" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM  resume
    <where>
      <if test="keyword!=null">
        `name` LIKE concat('%',#{keyword},'%')
      </if>
    </where>
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from resume
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.loop.resume.pojo.Resume" >
    insert into resume (id, name, user, 
      avatar, preference)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{user,jdbcType=INTEGER}, 
      #{avatar,jdbcType=INTEGER}, #{preference,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.loop.resume.pojo.Resume" >
    insert into resume
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="user != null" >
        user,
      </if>
      <if test="avatar != null" >
        avatar,
      </if>
      <if test="preference != null" >
        preference,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="user != null" >
        #{user,jdbcType=INTEGER},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=INTEGER},
      </if>
      <if test="preference != null" >
        #{preference,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.loop.resume.pojo.Resume" >
    update resume
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="user != null" >
        user = #{user,jdbcType=INTEGER},
      </if>
      <if test="avatar != null" >
        avatar = #{avatar,jdbcType=INTEGER},
      </if>
      <if test="preference != null" >
        preference = #{preference,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.loop.resume.pojo.Resume" >
    update resume
    set name = #{name,jdbcType=VARCHAR},
      user = #{user,jdbcType=INTEGER},
      avatar = #{avatar,jdbcType=INTEGER},
      preference = #{preference,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>