.resume-li {
    cursor: pointer;
}

.resume-li:hover{
    color: #607D8B;
    background-color: #DDD;
    left: 0.1em
}


.resume {
    padding:0 0px;
    width:820px;
    height: 1130px;
    background-color:#fff;

    border: 1px solid black;
    box-sizing: content-box;

}
.left {
    float:left;
    width:33%;
    height: 100%;
    padding:20px 16px 40px 30px;
    background-color:#079cfa;
    color:white;
    line-height:20px;
    display: flex;
    flex-direction: column;
}
.avatar{
    display: flex;
    justify-content: space-around;
    margin-top: 36px;
}

.avatar-base {
    line-height: 0;
    display: inline-block;
    margin: 5px;
    border: 4px solid rgba(255,255,255,0.4);
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    transition: linear 0.25s;
    height: 108px;
    width: 108px;
}
.avatar-base img {
    width: 100px;
    height: 100px;
    border-radius: 50%;

}
.avatar-base:hover {
    transition: ease-out 0.2s;
    border: 4px solid aliceblue;
}


.left .profile{
    flex-direction: row;
    justify-content: space-between;

}
.right>.info>div{
    display: flex;
}
.info>div{
    display: inline-flex;

}
.info-icon{
    width: 16px ;
    height: 22px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
}
.skill{
    margin-top: 50px;
}
.skill-item{
    margin-top: 20px;
}
.skill .title{
    color: white;
}
.skill-level{
    display: flex;;
    justify-content: space-between;
    margin-top: 10px;
}
progress{
    width: 165px;
}

.right .info .name{
    font-size: 30px;
}
.right .content>div{
    margin-bottom: 15px;
}
.profile .info{
    margin-top: 50px;
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right {
    float:left;
    width:65%;
    margin:0;
    padding:10px 30px 40px 30px;
    text-align:left;
}
.right>div{
    margin-bottom: 25px;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.title {
    color: #079cfa;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

hr{
    height:1px;
    border:none;
    border-top:1px solid #079cfa;
    margin-top: 0px;
}
